node_modules
.pnp.*
.next
dist
.turbo
.env*
!.env.example
!apps/web/.env.example
!apps/web/prisma/.env
!apps/web/prisma/.env.example
.DS_Store
.idea
.vscode
node_modules/
apps/web/.next/
apps/web/dist/
apps/web/build/
.turbo/
node_modules/
apps/web/.next/
apps/web/dist/
apps/web/build/
.turbo/
deploy-cpanel/
cnaghsh-cpanel.zip